extends layout
block header
	include header
block content
	h1= title
	ul
		each item in data
			li
				p(id="detail-name" data-id="#{item._id}") #{item.name}
				p=item.telephone
				p=item.email
				p
					a.btn.btn-default(href="/data/editdata/"+item._id id="editdata") 修改
				p
					a.btn.btn-default(id="removedata") 删除